<html>
  <head><title>Administrate Chugchanga-L Favorite Releases Poll</title></head>
  <body>
    <p>
      <form action="." method="post">
	Secret word: <input name="secret"
			    value="{{ secret|default_if_none:""|escape }}">
	<br>
	{% for y in years %}
	  {{ y.year }} voting is open:
	  <input type="checkbox" name="year{{ y.year }}"
		 {% if y.votingIsOpen %} checked {% endif %} >
	  <br>
	{% endfor %}
	Add a year: <input name="addYear"> <br>
	<input type="submit" value="Save Changes">
      </form>
    <p>Or <a href="{{ logout }}">login as a different user</a>.
  </body>
</html>
