<html>
  <head>
    <title>Chugchanga-L Favorite Releases Poll {{ poll.year }} Administration</title>
  </head>

  <body>
    <h1><hr>Chugchanga-L Favorite Releases Poll {{ poll.year }} Administration</h1>

    <p>
      <form method="POST" action="">
	<input type="submit" value="Count the votes">
      </form>
    </p>

    <h2>Uncanonicalized votes</h2>

    <p>
      {% for v in unc %}
        {% include "cvote-view.html" %}<br />
      {% empty %}
        All votes canonicalized.
      {% endfor %}
    </p>

    <hr>
    <address>
      <a href="..">Main administration page</a>
    </address>
  </body>
</html>
