<html>
  <head>
    <title>{{ artist.name }}</title>
  </head>
  <body>
    <h1><hr>
      {% if artist.mbid %}
        <a href="http://musicbrainz.org/artist/{{ artist.mbid }}.html"
	   title="Show artist at MusicBrainz">
	  <img src="http://musicbrainz.org/images/aicon_lg.png"
	       style="vertical-align: bottom; border: 0px; margin-right: 2px;"
	       /><b>{{ artist.name }}</b></a>
      {% else %} {% if artist.url %}
	<a href="{{ artist.url }}"><b>{{ artist.name }}</b></a>
      {% else %}
	<b>{{ artist.name }}</b>
      {% endif %} {% endif %}
    </h1>

    {% for r in artist.releases %}
      <p>
	<a name="{{ r.key.id }}"></a>
	{% if r.mbid %}
	<a href="http://musicbrainz.org/release-group/{{ r.mbid }}.html"
	   title="Show release-group at MusicBrainz">
	  <img src="http://musicbrainz.org/images/entity/release-group.gif"
	       style="vertical-align: bottom; border: 0px; margin-right: 2px;"
	       /><b>{{ r.title }}</b></a>
	{% else %} {% if r.url %}
	  <a href="{{ r.url }}"><cite>{{ r.title }}</cite></a>
	{% else %}
	  <cite>{{ r.title }}</cite>
	{% endif %} {% endif %}
	<ul>
	  {% for v in r.votes %}
	    {% ifchanged v.ballot.year v.category %}
	    <li> {{ v.ballot.year }} {{ v.category }}:
	    {% endifchanged %}
	      <br>
	      <a href="/ballot/{{ v.ballot.key.id }}#{{ v.category }}-{{ v.rank }}">
		{{ v.ballot.name }}</a>
	      {% if v.comments %}
	        <br>{{ v.comments }}<br>
	      {% endif %}
	  {% endfor %}
	</ul>
    {% endfor %}
  </body>
</html>
