<html>
  <head>
    <title>Canonicalization</title>
  </head>
  <body>
    <h1><hr>Canonicalization</h1>

    <p>
      {% if v %}
        {{ v.ballot.voter.name }} ({{ v.ballot.year }}):
        {{ v.category }} {{ v.rank }}.
        {% include "vote-view.html" %}<br>
        {% if v.release %}
          Current canonicalization:
          <strong>{{ v.release.artist.name }}</strong>,
          <cite>{{ v.release.title }}</cite><br>
	{% endif %}
        <form action="" method="post">
          {% for r in releases %}
	    <input type="radio" name="release" value="{{ r.index }}">
	    <input type="hidden"
		   name="artistid{{ r.index }}"
		   value="{{ r.artist.id }}">
	    <input type="hidden"
		   name="releaseid{{ r.index }}"
		   value="{{ r.id }}">
            {{ r.score }}%
	    <a href="http://musicbrainz.org/artist/{{ r.artist.id }}.html">
	      <strong>{{ r.artist.name|escape }}</strong></a>,
	    <input name="title{{ r.index }}" value="{{ r.title|escape }}">
            <a href="http://musicbrainz.org/release-group/{{ r.id }}.html">
	      {{ r.type }}
	    </a>
	    <br>
	  {% endfor %}
	  <br> <input type="submit" value="Canonicalize">
	</form>
      {% else %}
        Canonicalization finished!
      {% endif %}
  </body>
</html>
