<html>
  <head>
    <title>Canonicalization</title>
  </head>
  <body>
    <h1><hr>Canonicalization</h1>

    <p>
      {{ v.ballot.voter.name }} ({{ v.ballot.year }}):
      {{ v.category }} {{ v.rank }}.
      {% include "vote-view.html" %}<br>
      {% if v.release %}
	Current canonicalization:
	<strong>{{ v.release.artist.name }}</strong>,
	<cite>{{ v.release.title }}</cite><br>
      {% endif %}
      {% for r in releases %}
	<form action="" method="post">
	  <input type="submit" value="Canonicalize">
	  <input type="hidden"
		 name="artistid"
		 value="{{ r.artist.id }}">
	  <input type="hidden"
		 name="releaseid"
		 value="{{ r.id }}">
	  {{ r.score }}%
	  <a href="http://musicbrainz.org/artist/{{ r.artist.id }}.html">
	    <strong>{{ r.artist.name|escape }}</strong></a>,
	  <input name="title" value="{{ r.title|escape }}">
	  <a href="http://musicbrainz.org/release-group/{{ r.id }}.html">
	    {{ r.type }}
	  </a>
	</form>
      {% endfor %}
  </body>
</html>
