<html>
  <head>
    <title>Chugchanga-L Favorite Releases Poll</title>
  </head>

  <body>
    <h1>Chugchanga-L Favorite Releases Poll</h1>

    {% if years %}
    <p>
      <a href="members/">Chugchanga-L members: vote here!</a>
    {% endif %}

    <p>
      From time to time over the last couple decades, members of
      Chugchanga-L (a private music discussion list) have been polled
      for their favorite releases of the year.  Here are the results
      for each year the poll was conducted:

    <p>
      <a href="2008/">2008</a>
      2003
      {% for y in oldyears reversed %}
        <a href="http://steak.place.org/poll/{{ y }}/">{{ y }}</a>
      {% endfor %}
      <a href="http://steak.place.org/poll/1994.html">1994</a>
      <a href="http://steak.place.org/poll/1993.html">1993</a>

    <p>
      The Grunge-L list, the direct ancestor of Chugchanga-L, also voted on
      <a href="http://steak.place.org/poll/grunge92.html">their favorite
	releases of 1992</a>.

    <p>
      A hearty thanks to all the voters, and especially to those
      responsible for making the music we love.

    <hr>
    <address>
      <a href="http://steak.place.org/dougo/">Doug Orleans</a>
      <a href="mailto:dougorleans@gmail.com">&lt;dougorleans@gmail.com&gt;</a>
    </address>
  </body>
</html>
