(If you have trouble using this page, you can
<a href="?view=plain">switch to the plain HTML form</a>.)

<p>
<script src="/static/prototype.js" type="text/javascript"></script>
<script language="JavaScript">
function save(id) {
  style = "font-family: sans-serif; font-size: smaller; " +
          "color:white; background:red;";
  $(id + 'Status').setStyle(style).update("Saving...");
  new Ajax.Updater(id + 'Status', '/ajax/',
                   { parameters: { name: id, value: $F(id) }});
}
</script>

<form action="." method="post">
  Anonymous:
  <input type="checkbox" name="anonymous" id="anonymous"
	 {% if ballot.anonymous %} checked {% endif %}
	 onclick="javascript:save('anonymous')">
  <span id="anonymousStatus"></span>
  <br><br>
  Opening comments: <span id="preambleStatus"></span><br>
  <textarea name="preamble" id="preamble"
	    onchange="javascript:save('preamble')"
	    rows="4" cols="90">{{ ballot.preamble }}</textarea><br><br>

  <input type="hidden" name="votes" value="{{ votes.vote.count }}">
  {% for vote in votes.vote %}
    {% include "vote.html" %}
  {% endfor %}

  <a name="mention"></a>
  <input type="hidden" name="mentions" value="{{ votes.mention.count }}">
  {% for vote in votes.mention %}
    {% ifequal forloop.counter 1 %}
      <br>Honorable mentions:<br>
    {% endifequal %}
    {% include "vote.html" %}
  {% endfor %}
  <br>
  <button type="submit" name="add" value="mention">
    Add honorable mentions...
  </button>
  <br>

  <a name="note"></a>
  <input type="hidden" name="notes" value="{{ votes.note.count }}">
  {% for vote in votes.note %}
    {% ifequal forloop.counter 1 %}
      <br>Other notable releases:<br>
    {% endifequal %}
    {% include "vote.html" %}
  {% endfor %}
  <br>
  <button type="submit" name="add" value="note">
    Add other notable releases...
  </button>
  <br>

  <br>Closing comments: <span id="postambleStatus"></span><br>
  <textarea name="postamble" id="postamble"
	    onchange="javascript:save('postamble')"
	    rows="4" cols="90">{{ ballot.postamble }}</textarea><br>
</form>
