<html>
  <head><title>Chugchanga-L Favorite Releases Poll {{ year }}</title></head>
  <body>
    <p>Hello, {{ ballot.voter.name }}!
      <small>(<a href="/profile/">edit your profile</a>)</small>
      <small>(<a href="{{ logout }}">login as a different user</a>)</small>
      {% if admin %}
        <small>(<a href="/admin/">administrate</a>)</small>
      {% endif %}
    <p>Welcome to the Chugchanga-L Poll.  Enter up to 20 of your
      favorite releases of {{ year }}
      {% if other_years %}
        below, or choose a different year:
        {% for y in other_years %}
          <a href="?year={{ y }}">{{ y }}</a>
	{% endfor %}
      {% else %}
	below.
      {% endif %}

    <p>If you have more than 20 favorite releases, enter the rest in
      the <a href="#mention">honorable mentions</a> section below and
      they will be counted as tie-breaker votes in the summary
      tabulation.

    <p>If there are other releases that you'd like to comment on,
      enter them in the <a href="#note">other notable releases</a>
      section below and your comments will appear in the summary, but
      they won't be counted as favorites.

    <p>
      {% if ballot.voter.wantsPlain %}
        {% include "plainform.html" %}
      {% else %}
        {% include "jsform.html" %}
      {% endif %}
      <br><br>
    <p><small><a href="http://code.google.com/p/chugchanga-poll/">The
	  source code for this website is freely distributed under the GNU
	  Affero General Public License v3.</a></small>
  </body>
</html>
