(If you want a slightly more modern interface, you can
<a href="?view=js">switch back to the JavaScript view</a>.)

<p>
<form action="." method="post">
  <input type="submit" value="Save changes"><br>

  <br><a name="preamble"></a>
  <h3>Opening comments</h3>
  <textarea name="preamble"
	    rows="4" cols="90">{{ ballot.preamble|escape }}</textarea>
  <br>

  <br><a name="favorite"></a>
  <h3>Favorite releases</h3>
  <input type="hidden" name="favorites" value="{{ votes.favorite|length }}">
  {% for vote in votes.favorite %}
    {% include "vote.html" %}
  {% endfor %}

  <br><a name="honorable"></a>
  <input type="hidden" name="honorables" value="{{ votes.honorable|length }}">
  {% for vote in votes.honorable %}
    {% ifequal forloop.counter 1 %}
      <h3>Honorable mentions</h3>
    {% endifequal %}
    {% include "vote.html" %}
  {% endfor %}
  <br>
  <button type="submit" name="add" value="honorable">
    Add honorable mentions...
  </button>
  <br>

  <br><a name="notable"></a>
  <input type="hidden" name="notables" value="{{ votes.notable|length }}">
  {% for vote in votes.notable %}
    {% ifequal forloop.counter 1 %}
      <h3>Other notable releases</h3>
    {% endifequal %}
    {% include "vote.html" %}
  {% endfor %}
  <br>
  <button type="submit" name="add" value="notable">
    Add other notable releases...
  </button>
  <br>

  <br><a name="postamble"></a>
  <h3>Closing comments</h3>
  <textarea name="postamble"
	    rows="4" cols="90">{{ ballot.postamble|escape }}</textarea><br>
  <br>
  Anonymous:
  <input type="checkbox" name="anonymous"
	 {% if ballot.anonymous %} checked {% endif %}>
  <br><br><br>
  <input type="submit" value="Save changes">
</form>
